@font-face {
    font-family: 'TTLakes-Bold';
    src: url('fonts/TTLakes-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'TTLakes-Medium';
    src: url('fonts/TTLakes-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'TTLakes-Regular';
    src: url('fonts/TTLakes-Regular.ttf') format('truetype');
}

body {
    font-family: 'TTLakes-Regular', sans-serif;
    margin: 0;
    background: #F8F8F8;
}
.block-header{
    background: #F8F8F8;
    overflow: hidden;
}

button{
    font-family: 'TTLakes-Medium', sans-serif;
}
p{
    font-size: 14px;
    line-height: 18px;
}

.block-upperMenu{
    height: 88px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.block-titleLine{
    display: flex;
    align-items: center;
}

.block-title__elem-mainText{
    font-family: 'TTLakes-Bold', sans-serif;
    font-size: 28px;
    margin: 24px 0px 24px 0px;
    line-height: 40px;
}
.block-title__elem-mainText span{
    padding-left: 10px;
}
.block-title__elem-mainText::before{
    content: '';
    width: 4px;
    height: 40px;
    position: absolute;
    border-radius: 0px 5px 5px 0px;
    background: #41F6D7;
}

.block-submune{
    display: none;
}
.block-services{
    display: none;
}
.block-slideMenu{
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}
.block-listMenu{
    margin: 0;
    padding: 0px;
    display: flex;
    white-space: nowrap;
}
.block-listMenu__elem-link{
    margin-left: 15px;
    padding: 0px 15px 0px 15px;
    border: 2px solid #F8F8F8;;
    background-color: #F8F8F8;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}
.block-listMenu__elem-link a{
    font-size: 16px;
    color: #7E7E82;
    text-wrap: nowrap;
    letter-spacing: -0.2px;
    text-decoration: none;
}
.block-listMenu__elem-link a:target{
    background: none;
}
.block-listMenu__elem-link a:hover{
    background: none;
}

.block-listMenu__elem-link--mod-activ{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
}
.block-content{  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.block-textinformation{
    padding: 10px 0px;
    width: 100%;
}
.block-title{
    display: flex;
    align-items: center;
}
.block-textinformation p{
    margin-left: 16px;
    padding-right: 15px;
    letter-spacing: 0.2px;
}

.block-textinformation__elem-text2{
    display: none;
}
.block-textinformation__elem-textnext{
    margin: 16px;
    letter-spacing: 0.5px;
}
.block-textinformation__elem-buttonNext{
    border: 0;
    margin-left: 16px;
    background: #F8F8F8;
    font-size: 16px;
    cursor: pointer;
}
.block-textinformation__elem-buttonNext::before{
    content:"";
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
    width: 8px;
    height: 11px;
    display: inline-flex;
    margin-right: 10px;
}
.block-textinformation__elem-textnext{
    display: none;
}
.block-textinformation__elem-p{
    display: none;
}
.block-textinformation__elem-text3{
    display: none;
}

.block-image{
    overflow: hidden;
    width: 100%;
}
.block-image__elem-image{
    width: 100%;
    margin-left: 10px;
    transform: scale(1.2);
}
.block-upperMenu__elem-divider{
    width: 2px;
    height: 32px;
    border-radius: 1px;
    display: inline-block;
    background-color: #EAEAEA;
}




.uslugi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-buttonIcon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    overflow: hidden;
}
.block-buttonIcon button{
    height: 100%;
    width: 100%;
    border: 0;
    background: #FF3E79;
    cursor: pointer;
}
.block-reviews{
    display: none;
}


.block_circleButton div{
    width: 100%;
    height: 100%;
    background-position-x: center;
}
.block_circleButton--mod-burger{
    background-image: url("../images/burger.svg");
}
.block_circleButton--mod-repair{
    background-image: url("../images/repair.svg");
}
.block_circleButton--mod-call{
    background-image: url("../images/call.svg");
}
.block_circleButton--mod-chat{
    background-image: url("../images/chat.svg");
}
.block_circleButton--mod-profile{
    background-image: url("../images/profile.svg");
}
.block_circleButton--mod-checkstatus{
    background-image: url("../images/checkstatus.svg");
}



@media screen and (min-width: 768px) {
    


    .block-title__elem-mainText{
        margin-left: 0px;
    }
    .block-title__elem-mainText span{
        padding-left: 15px;
    }
    .block-slideMenu__elem-btn{
        margin-left: 20px;
    }
    .block-upperMenu__elem-mediumDivider{
        width: 2px;
        height: 32px;
        border-radius: 1px;
        display: inline-block;
        background-color: #EAEAEA;
    }
    .block-submune{
        display: flex;
        width: 50vw;
        justify-content: flex-end;
    }
   
    .block-submune div{
        margin-right: 10px;
    }
    

    
    .block-content{
        display: flex;
        flex-direction: row;
        padding: 10px 24px;
    }
    .block-image{
        border-radius: 10px;
        margin-top: 16px;
        overflow: hidden;
        width: 50%;
        height: inherit;
    }

    .block-image__elem-image{
        border-radius: 5px;
        transform: scale(1.2);
        margin-top: -30px;
    }
    .block-textinformation{
        width: 50%;
        padding: 0;
    }
    
    .block-textinformation p{
        margin-left: 0;
        padding-right: 46px;
    }

    .block-textinformation__elem-text2{
        display: block;
        /* margin: 20px 50px 0px 20px; */
    }
    .block-textinformation__elem-textnext{
        display: block;
        margin: 20px;
    }
    .block-textinformation__elem-buttonNext{
        margin-left: 0;
    }
    
}
  
/* @media screen and (min-width: 1366px) { */
@media screen and (min-width: 1120px) {
    .block-upperMenu{
        display: none;
    }
    .block-titleLine{
        padding: 42px 0px 12px 0px;
        display: flex;
        justify-content: space-between; 
    }
    .block-title__elem-mainText{
        font-family: 'TTLakes-Bold', sans-serif;
        font-size: 28px;
        margin: 0px;
        letter-spacing: -0.6px;
    }
    .block-title__elem-mainText span{
        padding-left: 30px;
    }
    .block-content {
        display: flex;
        flex-direction: row;
        padding: 10px 35px;
    }
    .block-slideMenu{
        padding-left: 30px;
    }
    .block-slideMenu__elem-btn{
        padding: 0px 25px;
        margin: 0;
    }
   
    .block-textinformation__elem-text2{
        display: none;
    }
    .block-textinformation p{
        margin-left: 0;

        padding-right: 60px;
    }
   
    .block-services{
        display: flex;
        margin-right: 20px;
    }
    .block-buttonTI{
        cursor: pointer;
        border: 0;
        background: none;
        display: flex;
        align-items: center;
    }
    .block-buttonTI__elem-circleIcon{
        width: 40px;
        height: 40px;
        background: #FF3E79;
        border-radius: 50px;
        overflow: hidden;
        margin-left: 10px;
    }
    .block-buttonTI__elem-circleIcon div{
        width: 100%;
        height: 100%;
        background-position-x: center;
    }
    .block-buttonTI__elem-circleIcon--mod-repair{
        background-image: url("../images/repair.svg");
    }
    .block-buttonTI__elem-circleIcon--mod-status{
        background-image: url("../images/checkstatus.svg");
    }

  
    .block-textinformation__elem-text3{
        display: block;
        margin: 14px 0px 14px 0px;
    }
    .block-reviews{
        display: block;
        padding: 20px 30px 0 50px;
    }
    .block-reviews__elem-button{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        background: none;
        border: 0;
        color: #7E7E82;
        cursor: pointer;
    }
}